@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;500&display=swap');
@import url(./chat.css);
@import url(./historic.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --gray: #1D1D2E;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 90vh;
    background-color: var(--gray);
    display: flex;
    justify-content: center;
}

p {
    color: white;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}